
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 💥 this prevents horizontal scroll */
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: none !important;
  }
/* Styles for the main menu container */
.menu {
    width: 5.0vw;
    height: 100.0vh;
    right: 0;
    top: 0;
    position: fixed;
  }
  
  /* Style for the background rectangle */
  .Rectangle1 {
    width: 5vw;
    min-width: 140px;
    height: 33.4vh;
    position: absolute;
    background-color: #B13C1A;
  }
  
  /* Style for the upper overlay rectangle */
  .Rectangle2 {
    width: 5vw;
    min-width: 140px;
    height: 33.4vh;
    top: 33.4vh;
    position: absolute;
    background-color: #725f73;
  }
  
  /* Style for the lower overlay rectangle */
  .Rectangle3 {
    width: 5vw;
    min-width: 140px;
    height: 33.4vh;
    top: 66.7vh;
    position: absolute;
    background-color: #5a6d91;
    padding-right: 2;
}

.Rectangle1,
.Rectangle2,
.Rectangle3 {
  transition: filter 0.1s ease-in-out;
}

.Rectangle1:hover,
.Rectangle2:hover,
.Rectangle3:hover {
  filter: brightness(1.2); /* 1 = normal, <1 = darker */
}
  
  /* Style for the "Portfolio" text */
  .menu-text {
    left: 50%;
    transform: rotate(90deg) translateY(-50%);
    transform-origin: bottom left;
    color: #FFFFFF;
    font-size: clamp(16px, 2vw, 38px);
    font-family: Roboto, sans-serif;
    font-weight: 50;
    width: 33vh;
  }

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #backgroundimg {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    position: absolute;
  }

  .hero-text {
    width: 60vw;
    display: flex; /* Enable flexbox for the bottom-left element */
    flex-direction: column; /* Arrange items in a column */
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-end; /* Align items to the bottom */
    position: absolute; /* Take it out of the normal flow for positioning */
    bottom: 0;
    left: 0;
    padding: 10px;
    height: 100vh;
    margin-left: 2vh;
  }

  .name {
    color: white; 
    font-size: 14vw;
    font-family: inter; 
    font-weight: 800; 
    line-height: 22vh;
    word-wrap: break-word;
    margin: 0;
    z-index: 1;
  }

  .description {
    color: white; 
    font-size: 8vh;
    font-family: cormorant; 
    font-weight: 200; 
    word-wrap: break-word;
    margin: 0;
    z-index: 1;
  }

  #white-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 15vw; 
    height: 4vw; 
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-top: 30px;
    background: white; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 42px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex
  }
  
  #white-box:hover {
    transform: rotate(7deg);
  }

  .reach{
    color: black; 
    font-size: 1.5vw; 
    font-family: Roboto; 
    font-weight: 500; 
    line-height: 80px; 
    word-wrap: break-word
  }

    .reach:hover {
        color: #505050; 
    }

.portfolio {
    left: 0;
    width: 95vw;
    height: 100vh;
    overflow: hidden;
}

.projects{
    width: 95vw;
    left: 0;
}
.button{
    transform: color 0.3s ease-in-out;
    color: black;
    text-decoration: none;
}
.button:hover{
    color: #B13C1A;
}

.project {
    margin-top: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


h2 {
    color: black;
    font-size: clamp(20px, 10vw, 80px);
    font-family: inter;
    font-weight: 700;
    text-align: center;
    line-height: 22vh;
    word-wrap: break-word;
    margin: 0;
    z-index: 1;
}

p{
    font-size: 2.2vh;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 8vh;
    width: 60%;

}

.super-gradient{
    padding-left: 18px; 
    padding-right: 18px; 
    padding-top: 19px; 
    padding-bottom: 19px; 
    background: linear-gradient(141deg, #FF3800 0%, #4E76A5 57%, #DB3A0D 100%); 
    border-radius: 31px; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}

.tech{
    align-self: stretch; 
    text-align: center; 
    color: white; 
    font-size: 26px; 
    font-family: Roboto; 
    font-weight: 600; 
    line-height: 42px; 
    word-wrap: break-word;
}

.project-screenshot{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    width: 70vw;
    height: 70vh;
    object-fit: cover;
    object-position: top;
    border-radius: 31px;
}

.jpglast{
  object-position: center;
}

/* cv */

.cv{
  font: Inter;
  font-size: 2.1vw;
  font-weight:300;
  line-height: 170%;
  margin-bottom: 8vh;
  background: linear-gradient(to bottom, #b1300c, #ffffff00);
  border-radius: 31px;
  margin-top: 40vh;
  padding: 4%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#experiences{
  color: rgb(255, 255, 255);
  font-size: 10vw;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 3vh;
  font-family: "inter";
}

.contact{
  width: 85vw;
  height: 80vh;
  margin-left: 1.66vw;
  margin-right: 1.66vw;
  margin-bottom: 1.66vw;
  padding: 3%;
  border-radius: 31px;
  background-image: url('bg4.webp');
  position: relative;
}

#bye{
  font-family: "inter";
  font-size: 16vw;
  color: #FFFFFF;
  font-weight: 850;
  position: absolute;
  bottom: 1.66vw;             /* Distance from bottom */
  right: 1.66vw;              /* Distance from right */
  margin: 0;
  padding: 0;
  line-height: 0.75;
}

.icon{
  margin-top: 13px;
  width: fit-content;
}

.icon img {
  transition: filter 0.5s ease;
}

.icon:hover img {
  /*filter: brightness(0) saturate(100%) invert(14%) sepia(86%) saturate(5373%) hue-rotate(346deg) brightness(74%) contrast(101%);*/
  filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(7000%) hue-rotate(350deg) brightness(50%) contrast(120%);
}

#bottom{
  font-family: "roboto";
  font-size: 2vw;
  color: #FFFFFF;
  font-weight: 200;
}